.assembly-screen {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.assembly-cards {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.assembly-card {
  width: 925px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}
.assembly-card h1 {
  text-align: center;
}
.assembly-card .additional {
  position: relative;
  width: 150px;
  height: 100%;
  background: linear-gradient(#9b3c37, #ee786e);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
  color: white;
}
.assembly-card.green .additional {
  background: linear-gradient(#92bca6, #a2ccb6);
}
.assembly-card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}
.assembly-card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}
.assembly-card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0, 0, 0, 0.025);
}
.assembly-card .additional .user-card .level,
.assembly-card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}
.assembly-card .additional .user-card .points {
  top: 85%;
}
.assembly-card .additional .user-card svg {
  top: 50%;
}
.assembly-card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}
.assembly-card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}
.assembly-card.green .additional .more-info h1 {
  color: #224c36;
}
.assembly-card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.assembly-card.green .additional .coords {
  color: #325c46;
}
.assembly-card .additional .coords span + span {
  float: right;
}
.assembly-card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}
.assembly-card.green .additional .stats {
  color: #325c46;
}
.assembly-card .additional .stats > div {
  flex: 1;
  text-align: center;
}
.assembly-card .additional .stats i {
  display: block;
}
.assembly-card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}
.assembly-card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}
.assembly-card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}
.assembly-card .general {
  width: 765px;
  height: 100%;
  position: absolute;
  justify-content: left;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
  font-weight: bold;
}
.assembly-card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.7em;
  color: #9b3c37;
}
