body {
  height: 100vh;
  background: linear-gradient(to top right, #426777, #8aa8b5);
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  align-items: center;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 70px;
}

.login-button {
  /* width: 250px; */
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 85vh;
}

#dot1,
#dot2,
#dot3,
#dot4,
#dot5,
#dot6,
#dot7,
#dot8,
#dot9,
#dot10 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50px 50px;
  background: #000;
  animation: spin 1.5s linear infinite;
  transform-origin: center center;
}

#dot2 {
  animation: spin 1.5s -0.75s linear infinite;
}

#dot3 {
  left: 30px;
  animation: spin 1.5s -1.3s linear infinite;
}

#dot4 {
  left: 30px;
  animation: spin 1.5s -0.55s linear infinite;
}

#dot5 {
  left: 60px;
  animation: spin 1.5s -1.1s linear infinite;
}

#dot6 {
  left: 60px;
  animation: spin 1.5s -0.35s linear infinite;
}

#dot7 {
  left: 90px;
  animation: spin 1.5s -0.9s linear infinite;
}

#dot8 {
  left: 90px;
  animation: spin 1.5s -0.15s linear infinite;
}

#dot9 {
  left: 120px;
  animation: spin 1.5s -0.7s linear infinite;
}

#dot10 {
  left: 120px;
  animation: spin 1.5s 0.05s linear infinite;
}

#base1,
#base2,
#base3,
#base4,
#base5 {
  position: absolute;
  top: 30px;
  left: 5px;
  width: 1px;
  height: 10px;
  background: #000;
  animation: flex 1.5s linear infinite;
  transform-origin: center center;
}

#base2 {
  left: 35px;
  animation: flex 1.5s -1.3s linear infinite;
}

#base3 {
  left: 65px;
  animation: flex 1.5s -1.1s linear infinite;
}

#base4 {
  left: 95px;
  animation: flex 1.5s -0.9s linear infinite;
}

#base5 {
  left: 125px;
  animation: flex 1.5s -0.7s linear infinite;
}

@keyframes spin {
  0%,
  100% {
    transform: translateY(0px) scale(1);
  }
  25% {
    transform: translateY(30px) scale(2);
  }
  50% {
    transform: translateY(60px) scale(1);
  }
  75% {
    transform: translateY(30px) scale(0.3);
  }
}

@keyframes flex {
  0%,
  100% {
    transform: scaleY(5);
  }
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(5);
  }
  75% {
    transform: scaleY(1);
  }
}

@keyframes tipsy {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

a {
  color: #fffbf1;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-size: 80px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -3px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

a:before,
a:after {
  content: "";
  padding: 0.9em 0.4em;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  display: block;
  border: 15px solid red;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 10s infinite alternate ease-in-out tipsy;
}

a:before {
  border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}

a:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
  box-shadow: 25px 25px 25px rgba(46, 46, 49, 0.8);
}

.login-page {
  width: 250px;
  padding: 7px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #9b3c37;
  cursor: pointer;
  outline: none;
}
