body {
  height: 100vh;
  background: linear-gradient(to top right, #426777, #8aa8b5);
}

.seq-input {
  width: 1000px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.input-box {
  width: 500px;
  height: 50px;
  font-size: medium;
  border-radius: 25px;
  border: none;
  background-color: rgb(217, 240, 249);
  padding: 10px;
}

.order-screen {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.input-title {
  color: white;
  font-weight: bold;
}

.submit-button {
  height: 50px;
  width: 200px;
  margin-top: 2vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.submitButton {
  width: 100px;
  height: 50px;
  font-size: medium;
  font-weight: bold;
  color: white;
  background-color: #9b3c37;
  outline: none;
  border: none;
  cursor: pointer;
}

.rb-container {
  width: 300px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.round-btn {
  background-color: rgb(217, 240, 249);
  border: none;
  height: 28px;
  width: 28px;
  clip-path: circle(46% at 50% 50%);
  accent-color: green;
  cursor: pointer;
}

.round-buttons {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #9b3c37;
  font-weight: bold;
}

.result-container-visible {
  visibility: visible;
}

.result-container-hidden {
  visibility: hidden;
}

.output-title {
  color: white;
  font-weight: bold;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

.results-box {
  background-color: rgb(217, 240, 249);
  height: 180px;
  width: 700px;
  border-radius: 25px;
  padding: 15px;
  color: #9b3c37;
}

.home-button {
  background-color: transparent;
  border: #9b3c37;
  color: #9b3c37;
  display: flex;
  align-self: flex-end;
  cursor: pointer;
}

.home-button-container {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  width: 95vw;
  margin-left: -20px;
  margin-top: 0px;
}

.more-button {
  background-color: transparent;
  border: none;
  color: #9b3c37;
  display: flex;
  align-self: flex-end;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
  visibility: visible;
  box-shadow: none;
}

.more-button-container-visible {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  width: 95vw;
  margin-right: -20px;
  margin-top: 0px;
  visibility: visible;
  color: #9b3c37;
}

.more-button-container-hidden {
  visibility: hidden;
}

.more-button-hidden {
  visibility: hidden;
}
